<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="C:\\Windows\System32\\CodeSmithCore.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="CodeSmithCore" #>
<#@ parameter type="String" name="Namespace" #>
<#@ parameter type="String" name="CompanyName" #>
<#@ parameter type="String" name="ModuleName" #>
<#@ parameter type="String" name="FunctionName" #>
<#@ parameter type="PersistenceObjectInfo" name="Entity" #>
<#@ output extension=".cs" #>

using System;
using System.Collections.Generic;
using System.Text;
using System.Threading.Tasks;
using Volo.Abp.Application.Dtos;
using HB.AbpFundation.Persistences;
using <#=CompanyName #>.<#=ModuleName#>.AggregateRoot.<#=FunctionName#>;
using <#=CompanyName #>.<#=ModuleName#>.DTOs.<#=FunctionName#>;

namespace <#=Namespace #>.Repositories.<#=FunctionName #>
{
    /// <summary>
    /// <#=Entity.Comment #>仓储
    /// </summary>
    public interface <#=Entity.IRepositoryName #> : IRepository<<#=Entity.Name #>>
    {
 
    }
}

