<#@ template debug="true" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="C:\\Windows\System32\\CodeSmithCore.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="CodeSmithCore" #>
<#@ parameter type="String" name="Namespace" #>
<#@ parameter type="String" name="CompanyName" #>
<#@ parameter type="String" name="ModuleName" #>
<#@ parameter type="String" name="FunctionName" #>
<#@ parameter type="List<PersistenceObjectInfo>" name="EntityCollection" #>
<#@ output extension=".cs" #>


using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Microsoft.EntityFrameworkCore;
using Volo.Abp.EntityFrameworkCore.Modeling;
using <#=CompanyName #>.<#=ModuleName #>.Domain.<#=FunctionName #>;

namespace <#=Namespace #>.<#=FunctionName #>
{
    public static class <#=FunctionName #>ModelCreatingExtensions
    {
    
        public static void Configure<#=FunctionName #>(this ModelBuilder builder)
        {
<# foreach(var Entity in EntityCollection){ #>
            //<#=Entity.Comment #>
            builder.Entity<<#=Entity.Name#>>(b =>
            {
                b.ConfigureFullAudited();
            });
<#}#>
        }
        
    }
}
