# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
host/HB.AbpFundation.AuthServer/node_modules/
host/HB.AbpFundation.AuthServer/obj/
.vs/
obj
bin
test/HB.AbpFundation.Application.Tests/obj/
test/HB.AbpFundation.Domain.Tests/obj/
test/HB.AbpFundation.HttpApi.Client.ConsoleTestApp/obj/
test/HB.AbpFundation.MongoDB.Tests/obj/
